/* GENERAL STYLE */
* {
    font-family: 'Karla';
}
/* EVENT STYLE */
.event{
    background-color:#f1f1f1;
}

/* EVENT-DETAILS STYLE */
.event-details,
.cta {
    background-color: #FE5000;
    color: white;

    i {
        color: #FE5000;
        background-color: #FFFFFF;
        padding: 0.5rem;
        border-radius: 50%;
    }

    img {
        object-fit: contain;
        position: relative;
        bottom: 20%;
        /* left: 15%; */

    }
}

/* AGENDA STYLE */
.agenda{
    h2{
        width: 50px;
        height: 50px;
        color: #FE5000;
        background-color: #ffc5aa;
        padding: 1rem;
        border-radius: 50%;

    }
}

/* EVENT TITLE STYLE */
.event-title {
    background-color: #f1f1f1;
    h2 {
        font-size: 3rem;
    }
    
    .black-title {
        color: #2d2926;
    }
    
    .orange-title {
        color: #FE5000;
    }
    i {
        color:#FFFFFF;
        background-color: #FE5000 ;
        padding: 0.5rem;
        border-radius: 50%;
    }

}


/* EVENT RELATOR STYLE */
.swiper {
    width: 300px;
    height: 400px;
    margin-bottom: 3rem;
}
.card-text {
    color: #FE5000;
    background-color: #ffc5aa;
    border-radius: 5px;

}





/* FOOTER STYLE --------------------- */
footer {
    background-color: #2d2926;

    p {
        color: #AFAFAF;
    }

    h4 {
        color: #FFFFFF;
    }

    i {
        color: #FE5000;
        background-color: #FFFFFF;
        padding: 0.5rem;
        border-radius: 50%;
    }

    .fa-chevron-right {
        background-color: #FE5000;
        color: white;
    }
    button{
        background-color: #2d2926;
        color: white;
    }
}

/* MODAL STYLE */

.my-modal {
    position: absolute;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:25%;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modal-card {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}
.open {
    opacity: 1;
    height: 100%;
}

.modal.open .close {
    opacity: 1;
}
@media screen and (min-width: 900px) {
.modal-card{
    width: 700px;
}

}